
@font-face {
  font-family: 'Text';
  src: url(https://fonts.adobe.com/fonts/loretta-variable);
}
@font-face {
  font-family: 'Title';
  src: url(https://fonts.adobe.com/fonts/mikrobe-variable);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.imm{
  transform: scaleX(-1);
}