@font-face {
    font-family: 'Text';
    src: url(https://fonts.adobe.com/fonts/loretta-variable);
  }
  @font-face {
    font-family: 'Title';
    src: url(https://fonts.adobe.com/fonts/mikrobe-variable);
  }
.Navbar {
    position: sticky;
    top: 0; /* Adjust the background color as needed */
    z-index: 100;
    color:#F7F4F3;
    background-color: #5B2333;

  }
  
  .menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em;
    list-style: none;
    font-family: 'Text';
    background-color: #5B2333;
    position: sticky;
    margin: 0;
  }
  
  .dropdown-menu {
    list-style: none;
    padding: 0;
    display: inline-flex;
  }
  
  .dropdown {
    display: none;
    flex-direction: column;
    list-style: none;
    position: absolute;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
    white-space: nowrap;
    position: relative;
  }
  .menu li:hover .dropdown {
    display: block;
  }

  .dropdown li {
    border: 1px solid #564D4A; /* Add a border between dropdown items if desired */
    background-color: #5B2333;
  }

  .inx{
    display: inline;
    font-size: 3em;
    font-family: 'Title';
  }
  .in, button{
    font-size: 1.3em;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    padding:  1em;
  }
  .in{
    border: 2px solid #564D4A;
    box-shadow: 2px #564D4A;
    }
  button{
    background-color:#5B2333;
    color:#F7F4F3;
  }
  .menu-toggle {
    display: none;
  }
  
  .menu-toggle-label {
    font-size: 1.5em;
    margin-right: 10px;
    user-select: none;
  }
  
  li a{
    color:#F7F4F3;
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
    }
  
    .menu li {
      margin-bottom: 1em;
    }
  
    .dropdown {
      display: none;
    }
  
    .menu li:hover .dropdown {
      display: block;
    }
  }
.search{
  border:#564D4A;
  color:#5B2333;
}
@media (max-width:768px) {
  .dropdown-menu{
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}
.hamburger-menu {
  cursor: pointer;
}

